.modal {
    background-color: #435c70;
  }
  
  .modal input {
    margin-bottom: 0px;
  }
  
  .modal .btn {
    display: block;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .modal {
      max-width: 100%;
    }
  }
  