/* styles.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    height: 40px;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }
  .pagination button.active {
    background-color: #3498db;
    color: #fff;
    border-color: #3498db;
  }
  